/* Phone style */
/*Layout*/
html, body {
  height: 100%;
  width: 100%;
}
main {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

ul, input {
  display: block;
}

form {
  position: relative;
  display: inline-block;
  float: left;
  width: 60%;
  height: 95%;
  margin: auto 0;
  vertical-align: top;
}

#category_preview {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 95%;
  float: right;
  margin: auto 0;
  vertical-align: top;
}

label[for="email_notifs"]{
  display: inline-block;
  vertical-align: top;
}

input[name="email_notifs"]{
  display: inline-block;
  vertical-align: top;
}

/*Content*/
h1 {
  font-weight: 700;
  font-size: 10em;
  position: relative;
  margin: 0;
  font-family: "Righteous", "Helvetica", sans-serif;
  text-shadow: -0.125em 0.125em #3B44B0;
}

#subtitle {
  font-weight: 500;
  font-size: 6em;
  position: relative;
  margin: 0;
}

p, label {
  font-size: 3.5em;
  font-weight: 300;
}

input[type="textarea"], input[type="email"] {
  padding: 1.625em 2.4375em;
  width: 60%;
  font-size: 2.5em;
  color: #EB75AB;
  border-radius: 0.25em;
  font-family: "Madimi One", "Helvetica", sans-serif;
}

ul {
  list-style-type: "\2605";
}

li {
  font-size: 3em;
}

label[for="username"], label[for="email_box"] {
  color: #BF0C5D;
  font-family: "Madimi One", "Helvetica", sans-serif;
}

label[for="email_notifs"]{
  font-size: 2.5em;
  color: #FFF;
  line-height: 1em;
  font-family: "Madimi One", "Helvetica", sans-serif;
}

input[name="email_notifs"] {
  height: 3em;
  width: 3em;
}

input[type="submit"] {
  display: block;
  height: 4em;
  width: 6.25em;
  font-size: 6em;
  border-style: none;
  border-radius: 2em 1em;
  background-color: #BF0C5D;
  color: #F5A5C9;
  font-family: "Righteous", "Helvetica", sans-serif;
}

form {
  padding: 1em;
  background-color: #F5A5C9;
}

#category_preview {
  text-align: center;
  background-color: #5D1399;
  padding: 3em;
}

#category_preview p, #category_preview li {
  color: #CAA3EA;
}

#category_preview p {
  font-family: "Righteous", "Helvetica", sans-serif;
}

#category_preview li {
  font-size: 2em;
  font-family: "Madimi One", "Helvetica", sans-serif;
}

#header {
  background-color: #FFF;
  border-radius: 1em 1em 0 0;
}

h1 {
  color: #7B82D8;
}

#header p {
  color: #1E279D;
  font-family: "Righteous", "Helvetica", sans-serif;
}


/*Tablet/Landscape Style*/
@media and (max-width: 481) {
  /*Resizing fonts*/
  h1 {
    font-size: 6em;
  }
  
  #header p {
    font-size: 2.3em;
  }
  
  #category_preview p {
    
  }
  
  #category_preview li {
    
  }
  
  label[for="email_box"], label[for="username"] {
    
  }
  
  input[name="email_box"], input[name="username"] {
    
  }
  
  label[for="email_notifs"] {
    
  }
  
  input[type="submit"] {
    
  }
}