/* Phone style */
/*Layout*/
main {
  width: 95%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
ul, input {
  display: block;
}

form {
  position: relative;
  display: inline-block;
  float: left;
  width: 65%;
  height: 95%;
  margin: auto 0;
  vertical-align: top;
}

#category_preview {
  position: relative;
  display: inline-block;
  width: 30%;
  height: 95%;
  float: right;
  margin: auto 0;
  vertical-align: top;
}

label[for="email_notifs"]{
  display: inline-block;
  vertical-align: top;
}

input[name="email_notifs"]{
  display: inline-block;
  vertical-align: top;
}

/*Content*/
h1 {
  font-weight: 700;
  font-size: 10em;
  position: relative;
  margin: 0 auto;
}

#subtitle {
  font-weight: 500;
  font-size: 6em;
  position: relative;
  margin: 0 auto;
}

p, label {
  font-size: 3.5em;
  font-weight: 300;
}

input[type="textarea"], input[type="email"] {
  padding: 1.625em 2.4375em;
  width: 60%;
  font-size: 2.5em;
  color: #EB75AB;
  border-radius: 0.25em;
}

ul {
  list-style-type: "\2605";
}

li {
  font-size: 3em;
}

label {
  color: #BF0C5D;
}

label[for="email_notifs"]{
  font-size: 2.5em;
  color: #FFF;
  line-height: 3em;
}

input[name="email_notifs"] {
  height: 3em;
  width: 3em;
}

input[type="submit"] {
  display: block;
  height: 4em;
  width: 6.25em;
  font-size: 6em;
  border-style: none;
  border-radius: 2em 1em;
  background-color: #BF0C5D;
  color: #F5A5C9;
}

form {
  padding: 1em;
  background-color: #F5A5C9;
}

#category_preview {
  background-color: #CAA3EA;
}

body {
  background-color: #000;
}

#header {
  background-color: #FFF;
}