/* Phone style */
/*Layout*/
main {
  width: 95%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
ul, input {
  display: block;
}

form {
  display: inline-block;
  float: left;
  width: 50%;
  height: 95%;
  margin-right: 5%;
}

#category_preview {
  display: inline-block;
  width: 25%;
  height: 95%;
  float: right;
}

label[for="email_notifs"]{
  display: inline-block;
}

input[name="email_notifs"]{
  display: inline-block;
  float: left;
  clear: right;
}

/*Content*/
h1 {
  font-weight: 700;
  font-size: 10em;
  position: relative;
  margin: 0 auto;
}

#subtitle {
  font-weight: 500;
  font-size: 6em;
  position: relative;
  margin: 0 auto;
}

p, label {
  font-size: 3.5em;
  font-weight: 300;
}

input[type="textarea"], input[type="email"] {
  padding: 1.625em 2.4375em;
  width: 100%;
  font-size: 2.5em;
}

ul {
  list-style-type: "\2605";
}

li {
  font-size: 3em;
}

label[for="email_notifs"]{
  font-size: 2em;
}

input[name="email_notifs"] {
  height: 4em;
}

input[type="submit"] {
  display: block;
  height: 6em;
  width: 10em;
}