/* Phone style */
/*Layout*/
main {
  width: 95%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
}
ul, input {
  display: block;
}

form {
  position: relative;
  width: 70%;
  height: 95%;
}

#category_preview {
  position: relative;
  width: 25%;
  height: 95%;
  margin-left: 5%;
}

label[for="email_notifs"]{
  display: inline-block;
}

input[name="email_notifs"]{
  display: inline-block;
  float: left;
}

/*Content*/
h1 {
  font-weight: 700;
  font-size: 3em;
  position: relative;
  margin: 0 auto;
}

#subtitle {
  font-weight: 500;
  font-size: 1.5em;
  position: relative;
  margin: 0 auto;
}

p, label, li {
  font-size: 1em;
  font-weight: 300;
}