/* Phone style */
/*Layout*/
main {
  width: 95%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
}
ul, input {
  display: block;
}

form {
  width: 80%;
  height: 95%;
  margin: 0 auto;
}

label[for="email_notifs"]{
  display: inline-block;
}

input[name="email_notifs"]{
  display: inline-block;
}

/*Content*/
h1 {
  font-weight: 700;
  font-size: 3em;
  position: relative;
  margin: 0 auto;
}

#subtitle {
  font-weight: 500;
  font-size: 1.5em;
  position: relative;
  margin: 0 auto;
}

p, label, li {
  font-size: 1em;
  font-weight: 300;
}