/**Unique code ideas
- Desktop hover size changes
- After some time, register button changes size/color to draw attn
**/
/* Phone style */
/*Layout*/
html, body {
  height: 100%;
  width: 100%;
}
main {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
ul, input {
  display: block;
}
#main-wrapper {
  background-color: #F5A5C9;
  height: 100%;
}
#formsect {
  display: inline-block;
  width: 55%;
  block-size: 2000px;
  background-color: #F5A5C9;
  border: 0;
  padding: 0;
  margin: 0;
}
#category_preview {
  display: inline-block;
  width: 35%;
  block-size: 2024px;
  border: 0;
  padding: 0;
  margin: 0;
  float: right;
}
label[for="email_notifs"]{
  display: inline-block;
  vertical-align: top;
}
input[name="email_notifs"]{
  display: inline-block;
  vertical-align: top;
}
#header {
  width: 95%;
  text-align: center;
}
#headerwrap {
  text-align: center;
  display: inline-block;
  width: 50%;
}
/*Content*/
h1 {
  display: inline-block;
  font-weight: 700;
  font-size: 6em;
  position: relative;
  margin: 0;
  font-family: "Righteous", "Helvetica", sans-serif;
  text-shadow: -0.125em 0.125em #3B44B0;
}
#subtitle {
  display: inline-block;
  font-weight: 500;
  font-size: 3em;
  position: relative;
  margin: 0;
}
p, label {
  font-size: 3.5em;
  font-weight: 300;
}
input[type="text"], input[type="email"] {
  padding: 1.625em 2.4375em;
  width: 60%;
  font-size: 2.5em;
  color: #EB75AB;
  border-radius: 0.25em;
  font-family: "Madimi One", "Helvetica", sans-serif;
}
ul {
  list-style-type: "\2605";
}
li {
  font-size: 3em;
}
label[for="username"], label[for="email_box"] {
  color: #BF0C5D;
  font-family: "Madimi One", "Helvetica", sans-serif;
}
label[for="email_notifs"]{
  font-size: 2.5em;
  color: #FFF;
  line-height: 1em;
  font-family: "Madimi One", "Helvetica", sans-serif;
}
input[name="email_notifs"] {
  height: 3em;
  width: 3em;
}
input[type="submit"] {
  display: inline-block;
  height: 2.5em;
  width: 5em;
  font-size: 4em;
  border-style: none;
  border-radius: 2em 1em;
  background-color: #BF0C5D;
  color: #F5A5C9;
  font-family: "Righteous", "Helvetica", sans-serif;
}
form {
  padding: 1em;
  background-color: #F5A5C9;
}
#category_preview {
  text-align: center;
  background-color: #5D1399;
  padding: 3em;
}
#category_preview p, #category_preview li {
  color: #CAA3EA;
}
#category_preview p {
  font-family: "Righteous", "Helvetica", sans-serif;
}
#category_preview li {
  font-size: 2em;
  font-family: "Madimi One", "Helvetica", sans-serif;
}
#header {
  background-color: #FFF;
  border-radius: 1em 1em 0 0;
}
h1 {
  color: #7B82D8;
}
#header p {
  color: #1E279D;
  font-family: "Righteous", "Helvetica", sans-serif;
}
#submitbutton {
  text-align: center;
}
/*Tablet/Landscape Style*/
@media only screen and (min-width: 1000px) {
  #headerwrap {
    text-align: center;
    display: inline-block;
    width: 100%;
  }
  #header {
    background-color: #FFF;
    width: 95%;
    text-align: center;
  }
  h1 {
    color: #7B82D8;
    display: inline-block;
    font-weight: 700;
    font-size: 4em;
    position: relative;
    margin: 0;
    font-family: "Righteous", "Helvetica", sans-serif;
    text-shadow: -0.125em 0.125em #3B44B0;
    width: 45%;
    float: left;
  }
  #header p {
    font-size: 2em;
    color: #1E279D;
    font-family: "Righteous", "Helvetica", sans-serif;
    width: 45%;
    float: right;
    display: inline-block;
    padding: 60px 0;
  }
  #usernamediv{
    width: 45%;
    margin-right: 5%;
    display: inline-block;
  }
  #emaildiv{
    width: 45%;
    display: inline-block;
  }
  #formsect {
    text-align: center;
    width: 100%;
    background-color: #F5A5C9;
    border: 0;
    padding: 0;
    margin: 0;
  }
  #category_preview {
    width: 100%;
    height: 30%;
    border: 0;
    padding: 0;
    margin: 0;
  }
  #category_preview p {
    margin-top: 10px;
    font-size: 3em;
  }
  label {
    font-size: 2em;
  }
  label[for="email_notifs"]{
    font-size: 2em;
    color: #FFF;
    line-height: 1em;
    font-family: "Madimi One", "Helvetica", sans-serif;
  }
  input[type="text"], input[type="email"] {
    padding: 0.5em 1em;
    width: 70%;
    font-size: 1.5em;
    color: #EB75AB;
    border-radius: 0.25em;
    height: 3em;
    font-family: "Madimi One", "Helvetica", sans-serif;
  }
  input[type="submit"] {
    display: inline-block;
    margin-top: 20px;
    height: 2em;
    width: 4.7em;
    font-size: 3em;
    border-style: none;
    border-radius: 2em 1em;
    background-color: #BF0C5D;
    color: #F5A5C9;
    font-family: "Righteous", "Helvetica", sans-serif;
  }
  input[name="email_notifs"] {
    margin-left: 100px;
    margin-top: 5px;
    height: 2em;
    width: 2em;
  }
  label[for="email_notifs"]{
    font-size: 1.7em;
    margin: 10px 4px;
    color: #FFF;
    line-height: 0.7em;
    font-family: "Madimi One", "Helvetica", sans-serif;
  }
}
@media only screen and (min-width: 1500px) {
   #headerwrap {
    text-align: left;
    display: inline-block;
    width: 100%;
  }
  h1 {
    color: #7B82D8;
    display: inline-block;
    font-weight: 700;
    font-size: 3em;
    position: relative;
    margin-left: 8px;
    font-family: "Righteous", "Helvetica", sans-serif;
    text-shadow: -0.125em 0.125em #3B44B0;
    width: 20%;
    float: left;
  }
  #header p {
    font-size: 2em;
    color: #1E279D;
    font-family: "Righteous", "Helvetica", sans-serif;
    width: 75%;
    margin: 0;
    display: inline-block;
    padding: 40px 0;
  }
  li {
    display: inline-block;
    margin: auto 15px;
  }
  #category_preview {
    width: 100%;
    height: 12%;
    border: 0;
    padding: 0;
    margin: 0;
  }
  input[name="email_notifs"] {
    margin-left: 100px;
    margin-top: 30px;
    height: 2em;
    width: 2em;
  }
  label[for="email_notifs"]{
    font-size: 1.7em;
    margin: 35px 4px;
    color: #FFF;
    line-height: 0.7em;
    font-family: "Madimi One", "Helvetica", sans-serif;
  }
  form {
    margin-top: 50px;
    width: 70%;
    display: inline-block;
  }
  #formsect {
    text-align: center;
  }
}
/*Also here's my Paletton palette: https://paletton.com/#uid=54B0F0kk-CKanSQg0K+oIvVu4st */