/* Phone style */
/*Layout*/
main {
  width: 95%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
}
/*Content*/
h1 {
  font-weight: 700;
  font-size: 3em;
  position: relative;
  margin: 0 auto;
}